<!DOCTYPE html>
<html>


<head> 
<title> Poker Tracker </title>
</head>

<body> 
<h1> Poker Leaderboard and Tracker </h1>


<div style="background-color: #e56369; padding: 20px; width: 300px;">

<h2> Add a match </h2>
<label> Player Name: </label>

<input type="text" id="Playername" placeholder="eg: abhi" > <br> <br>
<label> Winning amount: </label>
<input type="number" id="winAmount" placeholder="eg:500"> <br> <br>
<label> Date(optional): </label>
<input type="date" id="gameDate" > <br> <br>

<button onclick="submitData()"> Add to leaderboard </button>

</div>

<div style="margin-top: 30px;">
        <h3>Current Standings</h3>
        <p>Leaderboard will go here...</p>
</div>

</body>


</html>